.body__contact{
    background-color: #9de45179;
    height: 100%;
}

form{
    
    input{
        padding: 0px 0px 0px 10px;
    }
    textarea{
        width: 98%;
        height: 200px;
        @include boder-radious;
    }
    div{
        h5{
            padding: 20px 0px 0px 0px;
        }
    }
}