.body__professionals{
    background-color:  #9de45179;
    height: 100%;
}

.paragraph__our__profesionals{
    background-color: #1f5d5ed8;
    padding: 3% 3% 3% 3%;
    margin: 0px 0px 0px 0px;
    text-align: justify;
    color: white;
}
.tittle__our__profesionals{
    background-color: #1f5d5e;
    text-align: center;
    margin: 0% 0px 0px 0px;
    color: #9ce451;
    padding: 10px 0px 10px 0px;
}
.container__profesionals{
    display: flex;
    flex-direction: column;
    margin: 3% 10% 3% 10%;
    border: 5px solid rgb(133, 132, 132);
    @include boder-radious;
    background-color: whitesmoke;
    .card__professionals{
        display: flex;
        flex-direction: row;
        background-color: white;
        padding: 20px 20px 20px 20px;
        margin: 10px 10px 10px 10px;
        @include boder-radious;
        box-shadow: 10px 5px 5px #1f5d5e;
        transition: all 2s;
        .img__professionals{
            width: 60px;
            height: 60px; 
            margin-right: 15px;
        }
        h6{
            font-weight: bold;
        }  
        a {
            font-size: 0.8em;
            margin-bottom: 0.1rem;
            color: blue;
            font-weight: bold;
        }
        
        p {
            font-size: 0.8em;
            margin-bottom: 0.1rem;
        }

        .depto{
            font-size: 0.7em;
            color: rgb(121, 121, 255);
        }

        .sede{
            background-color: greenyellow;
            border-radius: 5px;
            text-align: center;
        }
        .sede:hover{
            background-color: lightcoral;
        }

    }
}

.card__professionals:hover {
    transform: skew(0deg,1deg);
    background-color: lightgoldenrodyellow;
}

/*Tablet responsive*/

@media screen and (min-width: 576px){
    .container__profesionals{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        .card__professionals{
            width: 250px;
        }

}
}
@media screen and (min-width: 768px){
    .paragraph__our__profesionals{
        padding: 10% 5% 10% 5%;
        margin: 0px 0px 0px 0px;

}
}

@media screen and (min-width: 992px){
    .paragraph__our__profesionals{
        padding: 3% 5% 3% 5%;
        margin: 0px 0px 0px 0px;

    }
}


@media screen and (min-width: 1440px){
    .paragraph__our__profesionals{
        padding: 3% 10% 3% 10%;
        margin: 0px 0px 0px 0px;

    }

}